@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio Biblioteca</h1>
    <p>Desafio utilizando ASP.NET 6.0, Entity framework in-memory e controle por sessões.</p>
    <p>Feito por: <a href="https://linkedin.com/in/natan-lemes" target="_blank">Natan Lemes</a></p>
</div>
