@model DesafioBiblioteca.Dtos.AuthorDto

@{
	ViewData["Title"] = "Adicionar Autor";
}
<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<h1>Adicionar</h1>

<h4>Novo Autor:</h4>
<hr />

@if (TempData["MensagemErro"] != null && TempData["MensagemErro"].ToString() != string.Empty)
{
	<div class="row">
		<div class="alert alert-warning col-md-4 container d-flex align-items-center justify-content-center" role="alert">
			<center>@TempData["MensagemErro"]</center>
		</div>
	</div>
}

@if (TempData["MensagemSucesso"] != null && TempData["MensagemSucesso"].ToString() != string.Empty)
{
	<div class="row">
		<div class="alert alert-success col-md-4 container d-flex align-items-center justify-content-center" role="alert">
			<center>@TempData["MensagemSucesso"]</center>
		</div>
	</div>
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CPF" class="control-label"></label>
				<input id="cpf" asp-for="CPF" class="form-control" />
				<span asp-validation-for="CPF" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataNascimento" class="control-label">Data de nascimento</label>
				<input type="date" asp-for="DataNascimento" class="form-control" />
				<span asp-validation-for="DataNascimento" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Cadastrar" class="btn btn-primary" />
				<a class="btn btn-secondary text-center" asp-controller="Author" asp-action="Index">Voltar</a>

			</div>
		</form>
	</div>
</div>
<script>
	$("input[id*='cpf']").inputmask({
		mask: ['999.999.999-99'],
		keepStatic: true
	});
</script>
@if (TempData["MensagemSucesso"] != null && TempData["MensagemSucesso"].ToString() != string.Empty)
{
	<script>
		setTimeout(function () {
			window.location.href = '@Url.Action("Index", "Author")';
		}, 2000);
	</script>
}